<!DOCTYPE html>
<html lang="en">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <div class="cookietemple-logo">
            <img src="../static/assets/img/logo/cookietemple_logo.svg" class="img-fluid" alt="" style="margin-left: 10%">
      </div>
    </a>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapse">
        <ul class="navbar-nav" style="margin-left: -5%; margin-right: 10%">
            <li class="nav-item p-1">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item p-1">
                <a class="nav-link" href="/templates">Templates</a>
            </li>
            <li class="nav-item p-1">
                <a class="nav-link" href="https://cookietemple.readthedocs.io">Documentation</a>
            </li>
            <li class="nav-item p-1">
                <a class="nav-link" href="/ourstory">Our story</a>
            </li>
            <li class="nav-item p-1">
                <a class="nav-link" href="/showoff">Showoff</a>
            </li>
            <li class="nav-item p-1 dropdown">
                <a class="dropdown-toggle nav-link" href="" role="button" data-toggle="dropdown">About<b class="caret"></b></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/code_of_conduct">Code of conduct</a>
                    <a class="dropdown-item" href="/join">Join cookietemple</a>
                    <a class="dropdown-item" href="/stats">Statistics</a>
                </div>
            </li>
        </ul>
        <a class="d-none d-lg-block btn btn-success" style="position:absolute; right: 1rem;" href="/join">
            Join cookietemple
        </a>
    </div>
</html>
