<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The cookietemple Website">
    <meta name="author" content="Philipp Ehmele">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/code_highlighting/github.css" rel="stylesheet">
    <link href="../static/assets/css/leaflet.css" rel="stylesheet">
    <link href="../static/assets/css/Chart.min.css" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/471b59d3f8.js"></script>
    <!-- Other JS -->
    <script src="../static/assets/js/jquery-3.4.1.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/highlight.pack.js"></script>
    <script src="../static/assets/js/leaflet.js"></script>
    <!-- Page-specific CSS and JS -->
    <script src="../static/assets/js/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="../static/assets/js/hammer.min.js"></script>
    <script src="../static/assets/js/chartjs-plugin-zoom.min.js"></script>
    <script src="../static/assets/js/canvas2svg.js"></script>
    <script src="../static/assets/js/FileSaver.js"></script>
    <link href="../static/assets/css/jquery-ui.min.css" rel="stylesheet">
    <script src="../static/assets/js/jquery-ui.min.js"></script>
    <script src="../static/assets/js/moment.js"></script>
    <script src="../static/assets/js/showdown.min.js"></script>
    <script src="../static/assets/js/jquery.tablesorter.min.js"></script>

    <!-- Custom cookietemple CSS and JS -->
    <link href="../static/assets/css/cookietemple.css" rel="stylesheet">
    <link href="../static/assets/css/cookietemple-dark.css" rel="stylesheet" id="theme-stylesheet">
    <script src="../static/assets/js/cookietemple.js"></script>
    <script>window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-68098153-2'); </script>
</html>
