<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cookietemple</title>
    <meta name="description" content="The cookietemple Website">
    <meta name="author" content="Philipp Ehmele">

    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/code_highlighting/github.css" rel="stylesheet">

    <!-- Other JS -->
    <script src="../static/assets/js/jquery-3.4.1.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/highlight.pack.js"></script>
    <!-- Page-specific CSS and JS -->
    <link href="../static/assets/css/jquery-ui.min.css" rel="stylesheet">
    <script src="../static/assets/js/jquery-ui.min.js"></script>

    <link href="../static/assets/css/cookietemple.css" rel="stylesheet">
    <link href="../static/assets/css/cookietemple-dark.css" rel="stylesheet" id="theme-stylesheet">
    <script src="../static/assets/js/cookietemple.js"></script>
    <script>window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-68098153-2'); </script>
</head>

<body>
<nav class="navbar fixed-top navbar-expand-md navbar-light site-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item p-1">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item p-1">
                <a class="nav-link" href="/templates">Templates</a>
            </li>
            <li class="nav-item p-1">
                <a class="nav-link" href="https://cookietemple.readthedocs.io">Documentation</a>
            </li>
            <li class="nav-item p-1 dropdown">
                <a class="dropdown-toggle nav-link" href="/about" role="button" data-toggle="dropdown">About<b class="caret"></b></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/about">About cookietemple</a>
                    <a class="dropdown-item" href="/stats">Statistics</a>
                    <a class="dropdown-item" href="/code_of_conduct">Code of conduct</a>
                    <a class="dropdown-item" href="/join">Join cookietemple</a>
                </div>
            </li>
        </ul>
        <a class="d-none d-lg-block btn btn-success" style="position:absolute; right: 1rem;" href="/join">
            Join cookietemple
        </a>
    </div>
</nav>
<div class="homepage-header">
    <div class="homepage-header-contents col-md-5">
        <p class="lead" style="font-family: 'Maven Pro', sans-serif">An open source project to create state-of-the art templates for all domains.</p>
        <div class="hompage-cta-flex">
            <a class="hompage-cta" href="/templates">View Templates</a>
        </div>
    </div>
</div>


<div class="triangle triangle-up"></div>
<div class="homepage-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-4 py-3 py-md-5 px-md-4">
                <h3 class="display-5 text-white">For users</h3>
                <p class="lead">Highly customizable, ready-to-use templates for project setup in seconds.</p>
            </div>
            <div class="col-md-4 py-3 py-md-5 px-md-4">
                <h3 class="display-5 text-white">For developers</h3>
                <p class="lead">A community to build standardized, well-architectured templates to accelerate your workflow.</p>
            </div>
            <div class="col-md-4 py-3 py-md-5 px-md-4">
                <h3 class="display-5 text-white">For companies</h3>
                <p class="lead">Standardize your development workflow using our streamlined templates.</p>
            </div>
        </div>
        <p class="text-center text-white m-0 pb-3">

        </p>
    </div>
</div>
<div class="triangle triangle-down"></div>

<div class="container py-5 text-center lead" id="features" style="font-family: 'Maven Pro', sans-serif">
    <p>Cookietemple is an open-source effort to standardize and accelerate project setup to especially simplify the development in a team.</p>
</div>

<div id="features" class="container homepage-feature-boxes">
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Domains</h5>
                    <img class="float-right ml-3" height="100px" src="../static/assets/img/icons/books_icon.svg"/>
                    <p class="card-text">Cookietemple provides standardized templates for many domains using different languages or frameworks and
                        usecases.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customizable</h5>
                    <img class="float-right ml-3" height="107px" src="../static/assets/img/icons/tools_custom.svg"/>
                    <p class="card-text">Choose from several options such as testing or web frameworks to make your template fitting exactly what you
                        need.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Documentation</h5>
                    <img class="float-right ml-3" height="107px" src="../static/assets/img/icons/clipboardDoc_icon.svg"/>
                    <p class="card-text">Extensive documentation covering installation, usage and each template in detail
                        ensures that you will not be left in the dark.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">CI Testing</h5>
                    <img class="float-right ml-3" height="100px" src="../static/assets/img/icons/CI_icon.svg"/>
                    <p class="card-text">Each template comes with ready-to-use GitHub Workflows per default.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Stable Releases</h5>
                    <img class="float-right ml-3" height="108px" src="../static/assets/img/icons/check_icon.svg"/>
                    <p class="card-text">Each template is released written, well-tested and approved by the community.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Community</h5>
                    <img class="float-right ml-3" height="108px" src="../static/assets/img/icons/community.svg"/>
                    <p class="card-text">Cookietemple thrives on active development by the open-source community to build new templates.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SHOULD WE REPLACE ONE WITH LINTING?-->

<div class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 id="get-started">Get started in minutes</h2>
                <p class="text-white">Cookietemple currently offers support for Linux and MacOS.</p>
                <p class="text-white">It comes with a bunch of useful commands to make your life during development easier.</p>
                <p class="text-white">Make sure to checkout the <a href="" style="color: #005fff">documentation</a> for details.</p>
            </div>
            <div class="col-sm-6">
                <div class="card text-white bg-dark border-light">
                    <div class="card-body">
                <pre class="text-white mb-0">
<span class="text-white-50"># Install cookietemple</span>
pip install cookietemple

<span class="text-white-50"># Get an overview of all commands</span>
cookietemple --help

<span class="text-white-50"># Checkout all available templates</span>
cookietemple list

<span class="text-white-50"># Get started and create your first project</span>
cookietemple create
</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5 text-center">
    <p class="lead"></p>
    <div class="row">
        <div class="col-md-4 px-md-5 mb-5 mb-md-0">
            <h3>See what's available</h3>
            <p>Check out the available templates to see if we have what you need. Each comes with release details, keywords and a description.</p>
            <a class="btn btn-lg btn-success arrow-hover" href="/templates"><span>Available templates</span></a>
        </div>
        <div class="col-md-4 px-md-5 mb-5 mb-md-0">
            <h3>Need help?</h3>
            <p>Checkout our public channels and join them to get help and see whats going on over there.<br><a style="visibility: hidden;">same_height</a></p>
            <a class="btn btn-lg btn-success arrow-hover" href="/join"><span>Join cookietemple</span></a>
        </div>
        <div class="col-md-4 px-md-5 mb-5 mb-md-0">
            <h3>Get into the code</h3>
            <p>If you're interested in contributing to cookietemple, take a look at the developer documentation to see what's required.</p>
            <a class="btn btn-lg btn-success arrow-hover" href="https://cookietemple.readthedocs.io"><span>Contribute</span></a>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <small class="d-block mb-3">Cookietemple</small>
                <small class="d-block mb-3">
                    Website by <a href="https://twitter.com/1207_philipp">Philipp Ehmele</a>.
                    <a href="http://getbootstrap.com/">Bootstrap</a> CSS framework,
                    <a href="http://jquery.com/">jQuery</a> JS and syntax colouring
                    with <a href="https://highlightjs.org/">highlight.js</a>.
                </small>
                <div class="d-md-flex">
                    <div class="btn-toolbar mb-3 mr-4" role="toolbar">
                    </div>

                    <div class="social-icons mb-3">
                        <a href="https://discord.com/channels/708008788505919599/708008788505919602" target="_blank" title="Discord" data-toggle="tooltip">
                            <img src="../static/assets/img/icons/discord.svg"/>
                        </a>
                        <a href="https://github.com/zethson/cookietemple" target="_blank" class="social-github" title="GitHub" data-toggle="tooltip">
                            <img src="../static/assets/img/icons/github_icon.svg"/>
                        </a>
                        <a href="https://twitter.com/cookietemple" target="_blank" title="twitter" data-toggle="tooltip">
                            <img src="../static/assets/img/icons/twitter_icon.svg"/>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-6 col-md">
                <h5>Getting Started</h5>
                <ul class="list-unstyled">
                    <li><a href="/templates">Available templates</a></li>
                </ul>
            </div>
            <div class="col-6 col-md" style="margin-right: 20%">
                <h5>About cookietemple</h5>
                <ul class="list-unstyled">
                    <li><a href="/about">About cookietemple</a></li>
                    <li><a href="/stats">Statistics</a></li>
                    <li><a href="/join" class="mt-1 btn btn-outline-success">Join cookietemple</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
