<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Join cookietemple</title>
    <meta name="description" content="The cookietemple Website">
    <meta name="author" content="Philipp Ehmele">

    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/code_highlighting/github.css" rel="stylesheet">
    <link href="../static/assets/css/leaflet.css" rel="stylesheet">
    <link href="../static/assets/css/Chart.min.css" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/471b59d3f8.js"></script>
    <!-- Other JS -->
    <script src="../static/assets/js/jquery-3.4.1.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/highlight.pack.js"></script>
    <script src="../static/assets/js/leaflet.js"></script>
    <!-- Page-specific CSS and JS -->
    <script src="../static/assets/js/moment.js"></script>
    <link href="../static/assets/css/jquery-ui.min.css" rel="stylesheet">
    <script src="../static/assets/js/jquery-ui.min.js"></script>


    <link href="../static/assets/css/cookietemple.css" rel="stylesheet">
    <link href="../static/assets/css/cookietemple-dark.css" rel="stylesheet" id="theme-stylesheet">
    <script src="../static/assets/js/cookietemple.js"></script>

    <script>window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-68098153-2'); </script>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-md navbar-light site-nav">
{% include 'header.html' %}
</nav>

<div class="mainpage">
    <div class="mainpage-heading">
        <div class="container">
            <h1 class="text-left display-3" style="color: #FFFFFF">Join cookietemple</h1>
            <p class="text-left lead" style="color: #FFFFFF">Get in touch with the community</p>
        </div>
    </div>
    <div class="triangle triangle-down"></div>


    <div class="container">

        <p>We use a few different tools to organise the cookietemple community -
            you are welcome to join us at any or all!</p>
        <p class="text-info small">
            <i class="fas fa-exclamation-triangle mr-1"></i>
            All cookietemple community members are expected to adhere to the cookietemple <a href="/code_of_conduct" class="text-info link-underline">code of
            conduct</a>
        </p>

        <p class="text-center">
            <a href="https://discord.gg/PYF8NUk" class="mb-2 btn btn-success">
                <i class="fab fa-discord"></i> cookietemple on Discord
            </a>
            <a href="https://github.com/cookiejar/cookietemple" class="mb-2 btn btn-dark">
                <i class="fab fa-github"></i> cookietemple on GitHub
            </a>
            <a href="https://twitter.com/cookietemple" class="mb-2 btn btn-info" style="background-color: #4AA1EB;">
                <i class="fab fa-twitter"></i> @cookietemple on twitter
            </a>
        </p>

        <h1>
            <a style="color: #1e6bb8" href="https://discord.gg/PYF8NUk" target="_blank">
                <span class="join-pull-img"><img height="120px" src="../static/assets/img/icons/discord.svg"/></span>
                Discord
            </a>
        </h1>
        <p class="text-info small">
            <i class="fas fa-question-circle mr-1"></i>
            If you would like to contribute to cookietemple, Discord is the best place to start.
        </p>
        <p>Discord is a real-time messaging tool, with discussion split into channels and groups.
            We use it to provide help to people with cookietemple, as well as discussing development ideas.
            You can join the cookietemple Discord server <a href="https://discord.gg/PYF8NUk">here</a>.</p>
        <h1>
            <a style="color: #1e6bb8" href="https://github.com/cookiejar/cookietemple" target="_blank">
                <span class="join-pull-img"><img height="120px" src="../static/assets/img/icons/github_icon.svg"/></span>
                GitHub organisation
            </a>
        </h1>
        <p class="text-info small">
            <i class="fas fa-bug mr-1"></i>
            If you encounter a bug or have a suggestion, please create an issue in cookietemple´s repository.
        </p>
        <p>We use GitHub to manage all of the code written for cookietemple.
            It is a fantastic platform and provides a huge number of tools.
            All of our projects are provided by the <a href="https://github.com/cookiejar/">cookiejar organization</a>.
        </p>

        <h1>
            <a href="https://twitter.com/cookietemple" target="_blank" style="color: #1e6bb8">
                <span class="join-pull-img"><img height="120px" src="../static/assets/img/icons/twitter_icon.svg"/></span>
                Twitter
            </a>
        </h1>
        <p>The <a href="https://twitter.com/cookietemple">@cookietemple</a> is cookietemples official Twitter account with
            latest news, releases and features of cookietemple. See <a href="https://twitter.com/cookietemple">https://twitter.com/cookietemple</a></p>
    </div>
</div>
<footer class="footer">
    {% include 'footer.html' %}
</footer>
</body>
</html>
