<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Showoff cookietemple</title>
    <meta name="description" content="The cookietemple Website">
    <meta name="author" content="Philipp Ehmele">

    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/code_highlighting/github.css" rel="stylesheet">
    <!-- Other JS -->
    <script src="../static/assets/js/jquery-3.4.1.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/highlight.pack.js"></script>

    <link href="../static/assets/css/jquery-ui.min.css" rel="stylesheet">
    <script src="../static/assets/js/jquery-ui.min.js"></script>

    <link href="../static/assets/css/cookietemple.css" rel="stylesheet">
    <link href="../static/assets/css/cookietemple-dark.css" rel="stylesheet" id="theme-stylesheet">
    <script src="../static/assets/js/cookietemple.js"></script>
    <script>window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-68098153-2'); </script>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-md navbar-light site-nav">
{% include 'header.html' %}
</nav>

<div class="mainpage">
    <div class="mainpage-heading">
        <div class="container">
            <h1 class="display-3">Showoff</h1>
            <p class="lead">Projects using cookietemple</p></div>
    </div>

    <div class="triangle triangle-down"></div>

    <div class="container main-content">
                <div class="card-deck pipelines-container">
            <div class="card card_deck_card pipeline">
                <div class="card-body clearfix">
                    <h3 class="card-title mb-0">
                        <a href="https://github.com/mlf-core/mlf-core" class="pipeline-name">
                            <span class="d-none d-lg-inline">mlf-core </span>mlf-core </a>
                        <small class="status-icon text-success ml-2 fas fa-check" title=""
                               data-toggle="tooltip"></small>
                    </h3>
                    <p class="topics mb-0">
                        <a style="color: #1e6bb8" class="badge pipeline-topic">cli</a>
                        <a style="color: #1e6bb8" class="badge pipeline-topic">python</a>
                        <a style="color: #1e6bb8" class="badge pipeline-topic">machine learning</a>
                    </p>
                    <p class="card-text mb-0 mt-2">Short mlf-core description</p>
                    <p class="mb-0 mt-2 dl-btn-row">
                    </p>
                </div>
            </div>

            <div class="card card_deck_card pipeline">
                <div class="card-body clearfix">
                    <h3 class="card-title mb-0">
                        <a href="https://github.com/cookiejar/cookietemple_website" class="pipeline-name">
                            <span class="d-none d-lg-inline">cookietemple </span>website </a>
                        <small class="status-icon text-success ml-2 fas fa-check" title=""
                               data-toggle="tooltip"></small>
                    </h3>
                    <p class="topics mb-0">
                        <a style="color: #1e6bb8" class="badge pipeline-topic">web</a>
                        <a style="color: #1e6bb8" class="badge pipeline-topic">python</a>
                        <a style="color: #1e6bb8" class="badge pipeline-topic">website</a>
                    </p>
                    <p class="card-text mb-0 mt-2">Short cookietemple website description</p>
                    <p class="mb-0 mt-2 dl-btn-row">
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>
<footer class="footer">
    {% include 'footer.html' %}
</footer>
</body>
</html>


