<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cookietemple</title>
    <meta name="description" content="The cookietemple Website">
    <meta name="author" content="Philipp Ehmele">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/code_highlighting/github.css" rel="stylesheet">
    <link href="../static/assets/css/leaflet.css" rel="stylesheet">
    <link href="../static/assets/css/Chart.min.css" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/471b59d3f8.js"></script>
    <!-- Other JS -->
    <script src="../static/assets/js/jquery-3.4.1.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/highlight.pack.js"></script>
    <script src="../static/assets/js/leaflet.js"></script>
    <!-- Page-specific CSS and JS -->
    <script src="../static/assets/js/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="../static/assets/js/hammer.min.js"></script>
    <script src="../static/assets/js/chartjs-plugin-zoom.min.js"></script>
    <script src="../static/assets/js/canvas2svg.js"></script>
    <script src="../static/assets/js/FileSaver.js"></script>
    <link href="../static/assets/css/jquery-ui.min.css" rel="stylesheet">
    <script src="../static/assets/js/jquery-ui.min.js"></script>
    <script src="../static/assets/js/moment.js"></script>
    <script src="../static/assets/js/showdown.min.js"></script>
    <script src="../static/assets/js/jquery.tablesorter.min.js"></script>

    <!-- Custom cookietemple CSS and JS -->
    <link href="../static/assets/css/cookietemple.css" rel="stylesheet">
    <link href="../static/assets/css/cookietemple-dark.css" rel="stylesheet" id="theme-stylesheet">
    <script src="../static/assets/js/cookietemple.js"></script>
    <script>window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-68098153-2'); </script>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-md navbar-light site-nav">
    {% include 'header.html' %}
</nav>
<p style="visibility: hidden">t</p>
<p style="visibility: hidden">t</p>
<p style="visibility: hidden">t</p>
<p>
    This site should present some interesting stats about the cookietemple project and the cookiejar organization in general.
    An example would be the number of commits per contributor for example.
    Due to time limitations we could not get to implement this just yet. However, we are always happy to receive pull requests or ideas for this site!
</p>
<div style="width:75%;">
    <canvas id="canvas"></canvas>
</div>
<script type="text/javascript">
    const parsedData = JSON.parse('{{ commits_data|safe }}');
    dates_of_commits = []
    number_of_commits = []
    for(commit_date in parsedData){
        dates_of_commits.push(commit_date)
        number_of_commits.push(parsedData[commit_date])
    }
    alert(dates_of_commits)
    alert(number_of_commits)
</script>

<script>


    var config = {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'red',
                borderColor: 'red',
                data: [
                    2, 3, 4, 5, 6, 7, 8
                ],
                fill: false,
            }, {
                label: 'My Second dataset',
                fill: false,
                backgroundColor: 'blue',
                borderColor: 'blue',
                data: [
                    1, 2, 3, 4, 5, 6, 7
                ],
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Chart.js Line Chart'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Month'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myLine = new Chart(ctx, config);
    };
</script>
<p>Flak</p>
<footer class="footer">
    {% include 'footer.html' %}
</footer>
</body>
</html>
